h1 {
    font-family: Helvetica;color: aqua;
  }
  h2{
    font-family: fantasy;color: rgb(3, 146, 98);
  }
  h3{
    font-family: fantasy;color: rgb(5, 184, 124);text-shadow: darkgray;
  }
  
  p {
    color: red;
  }
  
  p.more-content {
    background-color: #0000ff;
  }
  
  .more-content {
    background-color: #ff0000;
  }
  
  #something-else {
    border: 5px dashed #00ff00;
  }
 
  .mario {
    width: 20%;
    display: block;
    margin: 0 auto;
  }
  body{
    background-color: beige;
  }